<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
    <head>
        {% block head %}
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/pygment.css">
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css">
		<link href="//fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Google+Sans|Material+Icons|Google+Sans+Display" rel="stylesheet">
		{% endblock head %}
    </head>

    <body>
        <header>
			<div class="navbar-fixed">
            	<nav class="white" role="navigation">
            	    <div class="nav-wrapper container">
						<a href="{{SITEURL}}" class="logo grey-text text-darken-3 brand-logo">{{ SITENAME }}</a>
            	    </div>
            	</nav>
			</div>
        </header>

        <main>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        </main>

        {% block body_end %}
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
        <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/init.js"></script>
		<script>
		$(document).ready(function(){
		  $('.materialboxed').materialbox();
		  });
		</script>
        {% endblock body_end %}
    </body>
</html>
